header {
  background-color: lightblue;
  text-align: center;
  padding: 20px;
}

header h1 {
  color: darkblue;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
